<div class="simpleCart_items" >
				</div>


				<!--Here's the Links to Checkout and Empty Cart-->
				<a href="#" class="simpleCart_empty">empty cart</a>
				<a href="#" class="simpleCart_checkout">Checkout</a>
