<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'Music Shop' : title%></title>


    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/mystyle.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/style5.css">
    <link rel="stylesheet" href="/styles/swipebox.css">
    <!--STYLES END-->
    <script type="text/javascript" src="/js/dependencies/move-top.js"></script>
    <script type="text/javascript" src="/js/dependencies/easing.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".scroll").click(function(event) {
          event.preventDefault();
          $('html,body').animate({
            scrollTop: $(this.hash).offset().top
          }, 1000);
        });
      });
    </script>
  </head>

  <body>
    <div class="banner-body">
      <div class="container">
        <!-- header -->
        <div class="header">
          <div class="header-nav">
            <nav class="navbar navbar-default">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                  <span>M</span>usic
                  <span>S</span>hop
                </a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="first">
                    <a href="http://www.karlkaron.hostmd.biz/muzica/" title="Home">Home</a>
                  </li>
                  <li>
                    <a href="#" title="Beat Store">Beat Store</a>
                  </li>
                  <li>
                    <a href="#" title="Publications">Publications</a>
                  </li>
                  <li>
                    <a href="#" title="News">News</a>
                  </li>
                  <li class="last">
                    <a href="#" title="Test">Test</a>
                  </li>
                </ul>
                <div class="sign-in">
                  <ul>
                    <a href=#>
                      <i class="fa fa-shopping-basket"></i>
                      <div id="msMiniCart">
                        <div class="empty mychart">
                          <h5>
                            <i class="glyphicon glyphicon-shopping-cart  "></i>
                          </h5>
                          Your cart is empty
                        </div>

                      </div>
                    </a>
                  </ul>
                </div>
              </div>
              <!-- /.navbar-collapse -->
            </nav>
          </div>

          <!-- search-scripts -->
          <script src="/js/dependencies/classie.js"></script>

        </div>
        <div class="header-bottom">
          <div class="header-bottom-top">
            <ul>
              <li>
                <a href="#" class="g"></a>
              </li>
              <li>
                <a href="#" class="p"></a>
              </li>
              <li>
                <a href="#" class="facebook"></a>
              </li>
              <li>
                <a href="#" class="twitter"></a>
              </li>
            </ul>
          </div>
          <div class="clearfix"></div>

        
        <%- body %>
      </div>
      <!-- footer -->
      <div class="footer">
        <div class="container">
          <div class="footer-grids">
            <div class="col-md-3 footer-grid">
              <h3>RotaNews</h3>
              <div class="footer-grd-left">
                <a href="index.php?id=23"><img src="/muzica/assets/components/phpthumbof/cache/audio_gallery.bf07d8c721a9288ec6897bb56e28413d.png" class='img-responsive'/></a>
              </div>
              <div class="footer-grd-left">
                <p>On the other hand, we denounce with righteous indignation and dislike men who are&#8230;</p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="col-md-3 footer-grid">
              <h3>publicatii</h3>
              <ul>
                <li>
                  <a href="index.php?id=24">Roxette anuleaza turneul din&#8230;</a>
                </li>
                <li>
                  <a href="index.php?id=22">Concert Gregorian la Bucuresti:&#8230;</a>
                </li>
              </ul>
            </div>
            <div class="col-md-3 footer-grid">
              <h3>Noutati</h3>
              <ul>
                <li>
                  <a href="index.php?id=23">Responsive Audio Player</a>
                </li>
                <li>
                  <a href="index.php?id=16">Test Info</a>
                </li>
                <li>
                  <a href="index.php?id=15">Versiunea sitelui</a>
                </li>
                <li>
                  <a href="index.php?id=14">Prima noutate</a>
                </li>
              </ul>
            </div>
            <div class="col-md-3 footer-grid">
              <h3>Ultimile Postari</h3>
              <div class="footer-grd">
                <a href=index.php?id=36><img src="/muzica/assets/images/products/36/120x90/i-promise-you.jpg" width="90" height="90" class="img-responsive"/></a>

              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <p>© 2016 Music Shop</p>
        </div>
      </div>
      <!-- //footer -->

      <!--TEMPLATES-->
      
      <!--TEMPLATES END-->

      <!--SCRIPTS-->
      <script src="/js/dependencies/sails.io.js"></script>
      <script src="/js/dependencies/bootstrap.js"></script>
      <script src="/js/dependencies/classie.js"></script>
      <script src="/js/dependencies/easing.js"></script>
      <script src="/js/dependencies/easyResponsiveTabs.js"></script>
      <script src="/js/dependencies/jquery-1.11.1.min.js"></script>
      <script src="/js/dependencies/jquery.flexisel.js"></script>
      <script src="/js/dependencies/jquery.swipebox.min.js"></script>
      <script src="/js/dependencies/move-top.js"></script>
      <script src="/js/dependencies/responsiveslides.min.js"></script>
      <!--SCRIPTS END-->
    </body>
  </html>
