
	<h2 class="text-center">News</h2>


		<div class="col-md-10">
			<% _.each(news, function (news) { %>
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="text-center"><%= news.title %></h3><hr>
						<article>
							<%= news.infotext %>
						</article>
					</div>
					<div class="panel-footer">
						<a href="/news/watch/<%= news.id %>" class="btn btn-info">LEARN MORE</a>
					</div>
				</div>
			<% }) %>
		</div>
		<div class="col-md-1">
	</div>
	<ul class="pagination">
	  <li><a href="/news">1</a></li>
	  <li><a href="/news/2">2</a></li>
	  <li><a href="/news/3">3</a></li>
	</ul>
</div>
