<div class="container">
	<div class="panel panel-default">
		<div class="panel-body text-center">
			<h3><%= news.title %></h3><hr>
			<article>
				<%= news.content %>
			</article>
		</div>
	</div>
</div>
