<div class="artical-content">
<h3><%= track.title %></h3>
<div id="msProduct" class="row">
	<div class="span5 col-md-5">
		<div id="msGallery">
	<a rel="fancybox" href="cover/i.jpg" target="_blank">
		<img src="/cover/i.jpg" width="360" height="270" alt="" title="" id="mainImage">
          </a>
	<div class="row">
		<div class="span2 col-md-2">
	<a href="/cover/i.jpg" class="thumbnail" >
		<img src="/cover/i.jpg" alt="" title="i promise you.jpg" width="120" height="90">
	</a>
</div>
	</div>
</div>
	</div>
	<div class="span7 col-md-7">
		<form class="form-horizontal ms2_form" method="post">
			<input type="hidden" name="id" value="36">
			<div class="form-group">
				<label class="col-sm-2 control-label">Article:</label>
				<div class="col-sm-3">
					<label class="checkbox">

					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Price:</label>
				<div class="col-sm-3">
					<label class="checkbox">
						20 USD

					</label>
				</div>
			</div>
			<div class="form-group form-inline">
				<label class="col-sm-2 control-label" for="product_price">Quantity:</label>
				<div class="col-sm-3">
					<input type="number" name="count" id="product_price" class="input-sm form-control" value="1">
					pcs.
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Weight:</label>
				<div class="col-sm-3">
					<label class="checkbox">0 pt.</label>
				</div>
			</div>



			<div class="form-group">
				<label class="col-sm-2 control-label">Made in:</label>
				<div class="col-sm-3">
					<label class="checkbox"></label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-3">
					<button type="submit" class="btn btn-default" name="ms2_action" value="cart/add"><i class="fa fa-barcode" aria-hidden="true"></i> Add to cart</button>
				</div>
			</div>
		</form>

	</div>
</div>
</div>
